html {
	height: fit-content;
	width: fit-content;
}
.result {
	display:block;
	height: 100px;
	width: auto;
}
h2 {
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    text-align: center;
}

.mybutton {
    color: black;
    background-color: #c4b1b1;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice {
    height: 100px;
	}
img {
	 width: auto; 
	max-height: 100%; 
}